*.swp
*.pyc
*.pkl
*.py~
.pytest_cache
.DS_Store
.idea
/virtual
/rogueinabox_lib
/rogueinabox_lib_backup
/rogueinabox_libold
# Setuptools distribution and build folders.
/dist/
/build
keys/
.vscode/
# Virtualenv
/env
/Neatsave
cp_config-*
*.sublime-project
*.sublime-workspace

.idea

logs/

.ipynb_checkpoints
ghostdriver.log

htmlcov

junk
src

*.egg-info
.cache

MUJOCO_LOG.TXT

2020_*


